@font-face {
    font-family: 'IRANSANS';
    src: url('../font/IRANSansWeb_UltraLight.woff') format('woff'), url('../font/IRANSansWeb_UltraLight.ttf') format('truetype');
    font-style: normal;
}

html,
body {
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'IRANSANS';
}

#Center {
    position: absolute;
    left: 50%;
    top: 40%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

#Center svg {
    width: 400px;
    height: 175px;
    margin: 0 auto;
    /*background: #000;*/
}

#Team {
    -webkit-animation: team .3s forwards;
    -webkit-animation-delay: .8s;
    animation: team .3s forwards;
    animation-delay: .8s;
    transform: translate(450px, 0px);
}

@keyframes team {
    0% {
        opacity: 0;
        transform: translate(450px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#Hex {
    -webkit-animation: hex .3s forwards;
    -webkit-animation-delay: .5s;
    animation: hex .3s forwards;
    animation-delay: .5s;
    transform: translate(-1100px, 0px);
}

@keyframes hex {
    0% {
        opacity: 0;
        transform: translate(-1100px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#Bottom{
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#Bottom h3 {
    width: 394px;
    font-size: 1em;
    color: #999;
    margin-bottom: 30px;
    -webkit-animation: text .3s forwards;
    -webkit-animation-delay: 1s;
    animation: text .3s forwards;
    animation-delay: 1s;
    opacity: 0;
    margin-bottom: 30px;
}

#Bottom a{
    font-size: 1em;
    color: #999;
    text-decoration: underline;
    cursor: pointer;
    -webkit-animation: text .3s forwards;
    -webkit-animation-delay: 1.3s;
    animation: text .3s forwards;
    animation-delay: 1.3s;
    opacity: 0;
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translate(-50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media(max-width:550px){
    #Center svg{
        width: 350px;
    }
}